@import "tailwindcss";

:root {
  --blue-Dark: #0c2b4e;
  --blue-Medium: #1a3d64;
  --blueTeal: #1d546c;
  --blueLight: #f4f4f4;

  /* ===== Purple Theme ===== */
  --purpleDark: #540863;
  --purpleMedium: #92487a;
  --purpleLight: #e49ba6;
  --purpleSoft: #ffd3d5;

  /* ===== Neutral Colors ===== */
  --whiteCustom: #ffffff;
  --grayLight: #f8f9fa;
  --grayDark: #222222;

  /* ===== Accent Colors ===== */
  --accent: #ffb703;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.blueDark {
  background-color: #0c2b4e;
}

.blueMedium {
  background-color: #1a3d64;
}

.sidebar-btn {
  @apply flex items-center gap-3 w-full p-3 rounded-lg transition hover:bg-gray-100;
}

.active-tab {
  background: var(--accent);
  color: white;
}

.drop-item {
  @apply w-full text-left text-sm px-3 py-2 rounded-lg 
           hover:bg-gray-100 transition;
}

.section-title {
  @apply text-xl font-semibold;
  color: var(--blueDark);
}

.settings-field {
  @apply flex items-start gap-3 p-3 bg-[var(--blueLight)] rounded-lg;
}

.label {
  @apply text-xs uppercase text-gray-500;
}

.input-box {
  @apply w-full p-2 mt-1 rounded-lg border border-gray-300 
           focus:ring-2 focus:ring-[var(--accent)] outline-none transition;
}

.profile-field {
  @apply flex items-start gap-3 p-3 bg-[var(--blueLight)] rounded-lg;
}

.profile-field .label {
  @apply text-xs uppercase text-gray-500;
}

.profile-field .value {
  @apply text-gray-800 font-semibold;
}

.admin-nav-btn {
  @apply flex items-center gap-3 w-full p-3 rounded-lg 
    transition-all duration-200 
    hover:bg-gray-100;
}

.admin-nav-btn.active {
  background: var(--accent);
  color: white;
  @apply shadow;
}
